
main{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.container {
  width:90vw;
  margin: 5rem auto;
  padding:  2.5rem 2rem;
  display:grid;
  gap:1rem 2rem;

}